.generalContainer {
  max-width: 1000px;
}

.imgContainer {
  background-color: white;
}

.josehpta {
  display: none;
}

.nav-item {
  font-size: 18px;
  font-weight: 600;
}

.nav-link {
  color: black;
  border-radius: 4px;
}

.nav-link:hover {
  color: #0056b3;
  border-bottom: 5px solid black;
}

.optionNavProd {
  padding: 10px 20px;
  margin: 5px;
}

.optionNavProd:hover {
  background-color: #f1f1f1;
}